h2{}
h1{}
ad{display:block;margin-top:15tx;color:red;font-size:13pt}
USN{margin-left:15tx;color:blue;font-size:12pt}
NAME{margin-left:15tx;color:green;font-size:12pt}
BRn{margin-left:15tx;color:purple;font-size:12pt}
COL{margin-left:15tx;color:green;font-size:12pt}
YO{margin-left:15tx;color:blue;font-size:12pt}
MAIL{margin-left:15tx;color:blue;font-size:12pt}